@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<br> <br> <br>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">@Model.ArticleTitle</h1>
      <p class="lead">@Model.ArticleContent</p>
     
     
  </div>
</div>